{% extends "layout.html" %}
{% load static %}

{% block body %}

<div class="about-container">
    <h1 class="about-heading">About Us</h1>
    <p class="about-highlight"><b>"Your gateway to exclusive street fashion."</b></p>

    <p class="about-text">
        At StyleAuras, we bring you a curated collection of streetwear, sneakers, and contemporary fashion from emerging and independent brands. Our platform is dedicated to showcasing unique, stylish, and affordable pieces that stand out from the mainstream.
    </p>

    <p class="about-text">
        We collaborate with growing fashion labels, giving you access to fresh, creative designs while supporting small brands. From bold streetwear to limited-edition drops to all kinds of fashion, we strive to offer fashion that lets you express your individuality.
    </p>

    <p class="about-text">
        At StyleAuras, we value quality and authenticity. Every product featured on our platform meets our style and quality standards. We're constantly scouting for upcoming trends and hidden gems, ensuring you're always ahead of the curve.
    </p>

    <p class="about-text">
        Our mission is to redefine fashion discovery—making it easier for you to access trend-setting styles while helping independent brands gain the recognition they deserve. With seamless shopping, secure checkout, and swift delivery, StyleAuras offers a smooth and enjoyable shopping experience.
    </p>
</div>

{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
