<!DOCTYPE html>
<html>
<head>
    <title>🥰 Successful Order - Order #{{ order.order_id }}</title>
</head>
<body>
    <h1>Successful Order - Order #{{ order.order_id }}</h1>

    <h2>Order Details:</h2>
    <ul>
        {% for item in items %}
            <li>
                <strong>Product:</strong><br> 
                {{ item.brand }} - {{ item.name }}
                {% if item.size %}(Size: {{ item.size }}){% endif %}
                {% if item.color %}(Color: {{ item.color }}){% endif %}
                <strong>Quantity:</strong> {{ item.quantity }}
            </li>
        {% empty %}
            <li>No items in this order.</li>
        {% endfor %}
    </ul>

    <h2>Address Details:</h2>

    <p>Delivery To: {{ order_address.fullName }}</p>
    <p>Delivery Address:</p>
    <pre>
    {{ order_address.address }}<br>
    {{ order_address.city }}, {{ order_address.state }} - {{ order_address.pincode }}<br>
    Phone: +91 {{ order_address.phone }}
    </pre>

    <h2>Payment Information:</h2>
    <p>Total Order Amount: ₹{{ order.total_amount }}</p>
    {% if order.discount %}
    <p>Discount: ₹{{ order.discount }}</p>
    {% endif %}
</body>
</html>